business_df.pkl
categories.xlsx
Exploratative_Analysis_1.ipynb
quantiative-exercise.zip
.metals/metals.lock.db
.metals/metals.log
.metals/metals.mv.db
.vscode/settings.json
quantiative-exercise/quantiative-exercise-own-data-herashchenko-kat.pdf
quantiative-exercise/quantiative-exercise-r-dataset-herashchenko-kat.pdf
data/yelp_dataset/yelp_academic_dataset_business.json
data/yelp_dataset/yelp_academic_dataset_checkin.json
data/yelp_dataset/yelp_academic_dataset_review.json
data/yelp_dataset/yelp_academic_dataset_tip.json
data/yelp_dataset/yelp_academic_dataset_user.json
data/yelp_dataset.tar
